/*These HTML tags are all incorporated:*/
/*p, h, ul, ol, li, em, strong, a, img, div, span*/
/*Bootstrap classes are used to style your page.*/
/*  A custom-made stylesheet that uses cascading, the box model, and floats is included  */
.asdf{
  border: 2px solid green;
  background: rgba(140, 140, 140, 0.4)
}
body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/54/8f/82/548f82ac43ed24c4bed65aa185e45668.jpg);
}
p {
  color: white;
}
li {
  color: white;
}
h1 {
  color: red;
}
h4 {
  color: lightblue;
}
